rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Bảo vệ tất cả các tài liệu theo mặc định
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Cho phép người dùng đọc/ghi vào tài liệu của họ
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Cho phép truy cập vào các giao dịch của họ
      match /transactions/{transactionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      // Cho phép truy cập vào các khoản nợ của họ
      match /debts/{debtId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
} 